# ignore all files starting with . or ~
.*
~*

node_modules/

/build
/dist

/vendor

/bower_components

/_site

ehthumbs.db
Thumbs.db

*.sublime-project
*.sublime-workspace
*.komodoproject

*.log
*.sql
*.sqlite

*.com
*.class
*.dll
*.exe
*.o
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

*.der
*.key
*.pem

# track these files, if they exist
!.dockerignore
!.editorconfig
!.env.example
!.git-blame-ignore-revs
!.gitignore
!.nvmrc
!.phpcs.xml.dist