<!-- PROJECTS SECTION -->
<section class="w-full flex justify-center">
    <div
        class="wrapper mt-10 md:mt-36 p-5 w-full md:w-5/6 flex justify-center flex-col"
    >
        <h1 class="font-ptSerif text-2xl md:text-7xl">Projects</h1>
        <!-- first project -->
        <div class="mt-7 md:mt-20">
            <div class="overflow-hidden xs:w-full flex-shrink-0">
                <a href="/theatre" class="">
                    <img
                        src="img/Chernivtsi university.PNG"
                        loading="lazy"
                        alt="myImage"
                        class="object-cover overflow-hidden transform transition duration-700 hover:scale-105"
                    />
                </a>
            </div>
            <h2
                class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-gray-600"
            >
                <a href="/theatre"
                    >Chernivtsi theatre</a
                >
            </h2>
            <div
                class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16"
            >
                <a
                    href="https://chernivtsi-theatre.vercel.app/"
                    class="inline-block mr-10 hover:text-green-500"
                    >Link to a website</a
                >
                <a
                    href="https://github.com/vladislav-gg/chernivtsi_app"
                    class="inline-block hover:text-green-500">Github</a
                >
                <span class="mt-2 flex items-center"></span>
            </div>
        </div>
        <!-- second project -->
        <div class="mt-5 md:mt-28 mb-20">
            <div class="overflow-hidden xs:w-full flex-shrink-0">
                <a href="/university" class="">
                    <img
                        src="img/chernivtsi-university4.PNG"
                        loading="lazy"
                        alt="myImage"
                        class="object-cover overflow-hidden transform transition duration-700 hover:scale-105"
                    />
                </a>
            </div>
            <h2
                class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-gray-600"
            >
                <a href="/university"
                    >Chernivtsi university</a
                >
            </h2>
            <div
                class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16"
            >
                <a
                    href="https://chernivtsi-theatre.vercel.app/"
                    class="inline-block mr-10 hover:text-green-500"
                    >Link to a website</a
                >
                <a
                    href="https://github.com/vladislav-gg/chernivtsi_app"
                    class="inline-block hover:text-green-500">Github</a
                >
                <span class="mt-2 flex items-center"></span>
            </div>
        </div>
    </div>
</section>
