---
import SiteLayout from "../layout/SiteLayout.astro";
---

<SiteLayout title="Projects — Vladislav Goian">
    <section class="w-full flex justify-center">
        <div
            class="wrapper mt-10 md:mt-36 p-5 w-full md:w-5/6 flex justify-center flex-col"
        >
            <h1 class="font-ptSerif text-2xl md:text-7xl">Projects</h1>

            <div class="mt-7 md:mt-20">
                <div class="overflow-hidden">
                    <a href="/projects/signalsfromtheshore">
                        <img
                            src="/img/signals-from-the-shore-1.png"
                            loading="lazy"
                            alt="Signals from the Shore"
                            class="object-cover w-full transform transition duration-700 hover:scale-105"
                        />
                    </a>
                </div>
                <h2 class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-green-500">
                    <a href="/projects/signalsfromtheshore">Signals from the Shore</a>
                </h2>
                <div class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16">
                    <a href="https://www.signalsfromtheshore.co.uk/" class="inline-block mr-10 hover:text-green-500">Visit website</a>
                </div>
            </div>

            <div class="mt-5 md:mt-28">
                <div class="overflow-hidden">
                    <a href="/projects/jato">
                        <img
                            src="/img/jato-1.png"
                            loading="lazy"
                            alt="Jato"
                            class="object-cover w-full transform transition duration-700 hover:scale-105"
                        />
                    </a>
                </div>
                <h2 class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-green-500">
                    <a href="/projects/jato">Jato</a>
                </h2>
                <div class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16">
                    <a href="https://jato.com" class="inline-block mr-10 hover:text-green-500">Visit website</a>
                </div>
            </div>

            <div class="mt-5 md:mt-28">
                <div class="overflow-hidden">
                    <a href="/projects/theatre">
                        <img
                            src="/img/Chernivtsi university.webp"
                            loading="lazy"
                            alt="Chernivtsi theatre"
                            class="object-cover w-full transform transition duration-700 hover:scale-105"
                        />
                    </a>
                </div>
                <h2 class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-green-500">
                    <a href="/projects/theatre">Chernivtsi theatre</a>
                </h2>
                <div class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16">
                    <a href="https://chernivtsi-theatre.vercel.app/" class="inline-block mr-10 hover:text-green-500">Visit website</a>
                    <a href="https://github.com/vladislav-gg/chernivtsi_app" class="inline-block hover:text-green-500">Github</a>
                </div>
            </div>

            <div class="mt-5 md:mt-28 mb-20">
                <div class="overflow-hidden">
                    <a href="/projects/university">
                        <img
                            src="/img/chernivtsi-university4.webp"
                            loading="lazy"
                            alt="Chernivtsi university"
                            class="object-cover w-full transform transition duration-700 hover:scale-105"
                        />
                    </a>
                </div>
                <h2 class="mt-5 md:mt-16 text-3xl md:text-6xl font-ptSerif italic hover:text-green-500">
                    <a href="/projects/university">Chernivtsi university</a>
                </h2>
                <div class="flex items-center mt-5 text-lg md:text-2xl text-gray-500 mb-16">
                    <a href="https://chernivtsiuniversity.vercel.app/" class="inline-block mr-10 hover:text-green-500">Visit website</a>
                    <a href="https://github.com/vladislav-gg/chernivtsi_university" class="inline-block hover:text-green-500">Github</a>
                </div>
            </div>

        </div>
    </section>
</SiteLayout>
