---
import SiteLayout from "../../layout/SiteLayout.astro";
---

<SiteLayout title="Signals from the Shore project">
    <div class="w-full flex justify-center mt-16 md:mt-32">
        <div
            class="wrapper flex flex-col justify-center animate__animated animate__fadeIn animate__slower"
        >
            <div class="max-w-7xl flex flex-col md:flex-row md:justify-between">
                <div class="left-container ml-5 md:ml-0">
                    <h2
                        class="font-semibold text-gray-900 text-3xl font-ptSerif hover:text-gray-600 underline"
                    >
                        <a href="https://www.signalsfromtheshore.co.uk/">Signals from the Shore</a>
                    </h2>
                    <p class="w-80 text-2xl mt-3">
                        A web app built in collaboration with AWS and Natural History Museum.
                    </p>
                </div>
                <div
                    class="right-container max-w-xl font-ptSans ml-5 md:ml-24 text-xl mt-7 md:mt-0"
                >
                    <p>
                        A web application built in collaboration with the
                        Natural History Museum and AWS. The app visualises UK
                        coastal seaweed data, making it accessible to the public.
                    </p>
                    <p class="mt-6">
                        Technologies used:
                        <ul class="list-disc list-inside ml-1">
                            <li class="mt-1">Svelte</li>
                            <li class="mt-1">Azure</li>
                            <li class="mt-1">SCSS/HTML</li>
                            <li class="mt-1">JavaScript</li>
                            <li class="mt-1">Maptiler/Leaflet</li>
                        </ul>
                    </p>
                </div>
            </div>

            <div class="max-w-7xl overflow-hidden mt-16">
                <img class="w-full object-cover" src="/img/signals-from-the-shore-1.png" alt="Signals from the Shore screenshot 1" />
            </div>
            <div class="max-w-7xl overflow-hidden mt-12">
                <img class="w-full object-cover" src="/img/signals-from-the-shore-2.png" alt="Signals from the Shore screenshot 2" />
            </div>
            <div class="max-w-7xl mt-12 mb-12">
                <video
                    class="w-full"
                    src="/videos/signals-from-the-shore-vid.mp4"
                    autoplay
                    loop
                    muted
                    playsinline
                ></video>
            </div>
        </div>
    </div>
</SiteLayout>
